<%- include("partials/header.ejs") %>
<h1>Login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username"  required>
    <input type="password" name="password"  required>
    <button>Submit</button>
</form>

Not a registered user?<a href="/signup"> Click Here</a>

<%- include("partials/footer.ejs") %>